body {
    background: #fffacd;
}

main {
    margin-top: 100px;
}

.first-section {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.title {
    font-size: 36px;
    font-family: outfit;
    font-weight: 900;
    color: #333333;
    margin: 50px 0px;
}

.first-section p {
    color: #333333;
    font-size: 18px;
    font-family: jost, sans-serif;
    letter-spacing: 0.75px;
    margin: 0px;
}

.first-section #first-p {
    margin-bottom: 15px;
}

#second-p {
    margin-bottom: 50px;
}
/* END OF FIRST SECTION */

/* BEGINNING OF SECOND SECTION */

.second-section h2 {
    font-size: 22px;
    color: #000000;
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-family: outfit;
    font-weight: 900;
}

.second-section .row {
    margin-top: 60px;
}

.second-section .cols {
    margin: 0px 20px;
}

.image-wrapper {
    border-radius: 7px;
    height: 275px;
    overflow: hidden;
    border: 2px solid #333;
}

.image-wrapper img {
    /* position: relative; */
    bottom: 0px;
    transition: bottom 1500ms ease;
    cursor: pointer;
    
}

.image-wrapper img:hover {
    position: relative;
    bottom: 176px;
}

.button {
    background-color: #ff4c60;
    font-size: 16px;
    color: white;
    padding: 10px 30px;
    margin-top: 40px;
    border: 1px solid #333;
    border-radius: 35px;
    font-weight: 600;
    letter-spacing: 0.7px;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.5,2.5,.7,.7);
}

.button:hover {
    box-shadow: 5px 4px 0px -2px #000000;
    color: white;
    transform: translate(-2px, -2px);
}

/* END OF SECOND SECTION */

.third-section {
    margin-top: 100px;
}

.third-section h1 {
    margin: 30px 0px;
    font-weight: bolder;
    letter-spacing: 5px;
}

.third-section img {
    cursor: pointer;
    box-shadow: 0px 12px 25px -25px rgba(0,0,0,0.75);
    transition: transform 150ms cubic-bezier(0.12, 0.55, 0.85, 1.32);
}

.third-section img:hover {
    transform: translateY(-2px);
}

/* END OF THIRD SECTION */

/* BEGINNING OF FOURTH SECTION */

.fourth-section .item {
    text-align: center;
    background-color: #fff;
    padding: 25px 15px 5px;
    border-radius: 5px;
    color: #222;
    box-shadow: 0 3px 5px -2px rgb(7 10 25 / 20%);
}

.fourth-section img {
    width: 50px;
}

.fourth-section h2 {
    font-size: 18px;
    margin-top: 25px;
    font-family: outfit;
    font-weight: 900;
}

/* END OF FOURTH SECTION */

/* BEGINNING OF FIFTH SECTION */

.fifth-section {
    margin-top: 100px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fifth-section h1 {
    font-family: outfit;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 4px;
    margin: 20px 0px;
    color: #000;
    text-align: center;
}

.fifth-section p {
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: jost, sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}

.fifth-section a {
    text-decoration: none;
    color: #fff;
    background-color: #79b530;
    font-family: outfit;
    font-size: 20px;
    padding: 10px 40px;
    border-radius: 40px;
    font-weight: 900;
    border: 1px solid #333;
    transition: all 300ms cubic-bezier(.5,2.5,.7,.7);
}

.fifth-section a:hover {
    box-shadow: 5px 4px 0px -2px #000000;
    color: white;
    transform: translate(-2px, -2px);
}

/* END OF FIFTH SECTION */

/* BEGINNING OF THE FOOTER */

footer {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1a191f;
    padding-top: 75px;
    padding-bottom: 50px;
}